publish/CycleCloud_Rafael/cyclecloud_app_server_install.zip
publish/SLURM/TESTS.py
troubleshooting/
publish/SLURM/TESTS.py
publish/EDU_ChatGPT/sample-app-aoai-chatGPT-main/
publish/SLURM_Install_Latest/